#profile {
    border: 2px solid black;
    background-color: aqua;
}

#repos {
    border: 2px dashed red;
    background-color: blanchedalmond;
}

a {
    border: 1px solid black;
    display: flex;
    flex-flow: wrap column;
    text-decoration: none;
}

a:hover {
    color: aqua;
}

a:link {
    color: blue;

}

#email {
    border: 2px black solid;
}

#url {
    border: 2px solid black;
}