body {
    background: url(drew-beamer-vAij-E26haI-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#profile {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    color: aliceblue;
    padding: 20px;
}

h1 {
    text-align: center;
    background-color: rgba(0, 221, 255, 0.551);
    border-radius: 50px;
}

img {
    border-radius: 50%;
    border: 5px solid white;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

p {
    background-color: rgba(0, 0, 0, 0.551);
    padding: 30px;
    text-align: center;
    border: 2px white solid;
}

.linkedIn {
    background-color: rgba(0, 0, 0, 0.551);
    align-content: center;
    border: 2px white solid;
    width: auto;
    height: auto;
    text-decoration: white;
    padding-bottom: 20px;
}

.email {
    background-color: rgba(0, 0, 0, 0.551);
    align-content: center;
    border: 2px white solid;
    width: auto;
    height: auto;
    text-decoration: white;
}

a {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: space-around;
    flex-wrap: wrap;
    text-decoration: none;
    text-align: center;
    border: 2px solid white;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: aqua;
}

.repos {
    display: flex;
    /* flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-items: center; */
}

.repoList {
    background-color: rgba(255, 132, 0, 0.729);
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: space-between;
    justify-content: space-between;
}